*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    background-color: rgb(239, 240, 227);
    /* background-image: url("img/home-bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;    
    height: 100vh;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}

i{
    font-size: 25px;
    color: white;
}

#header{
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: black;
}

#title{
    cursor: default;
}

#header img{
    width: 30%;
    max-width: 180px;
    margin: 10px 0 10px 10px;
}

.header-items{
    margin: 10px 30px;
}

#aside, #menubars{
    display: none;
}

#header ul{
    list-style: none;
}

#topbar li{
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
}

#topbar a{
    transition: color 0.3s ease 0s;
}

#topbar a:hover{
    color: darkcyan;
}

/* Background Pics */
.bg-pic{
    width: 100%
}

/* Hidden staff */
.social-icons i{
    padding: 10px 10px;
}

.hidden{
    display: none;
}

/* Clearfix*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* MOBILE */

@media screen and (max-width: 882px){
    
    #header{
        background-color: black;
    }
    
    /* Side bar menu */
    #topbar{
        z-index: 100;
        margin: 0;
        right: -100%;
        position: fixed;
        top: 100px;
        width: 200px;
        height: auto;
        background-color: rgba(45, 61, 75, 0.95);
        transition: all 0.8s ease;
    }
    #topbar ul{
        width: 100%;
    }
    #topbar li{
       display: block;
       padding: 0;
    }
    #topbar a{
        display: block;
        padding: 20px;
    }

    /* Toogle bar menu */
    .bars-container{
        padding: 20px 15px;
        position: relative;
        margin: 0 10px;
        cursor: pointer;
    }
    .toogle-bars{
        width: 25px;
        height: 2px;
        background-color: white;
        display: block;
        position: relative;
    }
    .toogle-bars::before{
        width: 25px;
        height: 2px;
        background-color: white;
        display: block;
        position: absolute;
        bottom: 10px;
        content: "";
    }
    .toogle-bars::after{
        width: 25px;
        height: 2px;
        background-color: white;
        display: block;
        position: absolute;
        top: 10px;
        content: "";
    }

    #taptoclose-layer{
        position: fixed;
    }

    .social-icons{
        display: none;
    }

    /* Appare side bar */
    #toogle-bar-input:checked ~ #topbar{
        right: 0;
    }

    /* Scompare barra centrale toogle */
    #toogle-bar-input:checked ~ .bars-container .toogle-bars{
        background-color: transparent;
    }
    
    /* Si trasforma il toogle in croce */
    #toogle-bar-input:checked ~ .bars-container .toogle-bars::after{
        transform: rotate(45deg);
        top: 0;
    }
    #toogle-bar-input:checked ~ .bars-container .toogle-bars::before{
        transform: rotate(-45deg);
        top: 0;
    }

    /* Appare overlay che se tocchi schermo fuori dal menu si chiude */
    #toogle-bar-input:checked ~ #taptoclose-layer{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }


}










/* CHI SONO */

.chisono{
    /* background-color: rgb(221, 218, 208); */
}

.chisono h2{
    color: rgb(41, 41, 48);
    text-align: center;
    font-size: 6vw;
    font-weight: 600;
    margin: 30px;
}

.chisono .container{
    padding: 0 60px;
    margin: 0 auto;
    max-width: 1000px;
}

.chisono .container p{
    text-align: justify;
    color: black;
}

#profile-pic{
    width: 70%;
    max-width: 400px;
    margin: 0px 50px 10px 0px;
    float: left;
    display:block;
}



@media  screen and (max-width: 882px) {

    .chisono .container{
        padding: 0 30px;
        margin: 0 0px;
        max-width: 1000px;
    }

    .chisono h2{
        font-size: 50px;
    }
    
    #profile-pic{
        width: 100%;
        margin: 20px auto;
        float: none;
        display: block;
    }
}


/* CONTATTI */

.contacts{
    width: 80%;
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    background-color: rgba(61, 61, 61, 0.733);
    border-radius: 8px;
    backdrop-filter: blur(2px);
    text-align: center;
}


#email-info{
    margin: 25px 0 0;
}

#cell-info{
    margin: 100px 0 0px;
}

#social-info{
    margin: 100px 0 0;
}

.cell-container, .email-container, .social-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts h2{
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 500;
}

.contacts h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.contacts .bottom-description{
    font-size: 12px;
    margin-top: 30px;
    font-weight: 100;
}

.icon-description{
    margin-left: 10px;
}

@media  screen and (max-width: 500px) {
    .contacts input{
        width: 100%;
    }
}