*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    background-image: url("img/home-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;    
    height: 100vh;
    position: relative;
}


a{
    text-decoration: none;
    color: white;
}

i{
    font-size: 25px;
    color: white;
}

#header{
    z-index: 100;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: black;
}

#title{
    cursor:default;
}

.header-items{
    margin: 20px 30px;
}

#aside, #menubars{
    display: none;
}

#header ul{
    list-style: none;
}

#topbar li{
    display: inline-block;
    padding: 10px 10px;
}

#topbar a{
    transition: color 0.3s ease 0s;
}

#topbar a:hover{
    color: darkcyan;
}

/* Hidden staff */
.social-icons i{
    padding: 10px 10px;
}

.hidden{
    display: none;
}


/* MOBILE */

@media screen and (max-width: 882px){
    
    #header{
        background-color: black;
    }
    
    #topbar{
        z-index: 100;
        margin: 0;
        display: none;
        position: fixed;
        top: 100px;
        right: 0;
        width: 200px;
        height: auto;
        background-color: rgba(45, 61, 75, 0.87);
    }

    /* Side bar menu */
    #topbar ul{
        width: 100%;
    }
    #topbar li{
       display: block;
       padding: 0;
    }
    #topbar a{
        display: block;
        padding: 20px;
    }

    /* Toogle bar menu */
    .bars-container{
        padding: 20px 15px;
        position: relative;
        margin: 0 10px;
    }
    .toogle-bars{
        width: 25px;
        height: 2px;
        background-color: white;
        display: block;
        position: relative;
    }
    .toogle-bars::before{
        width: 25px;
        height: 2px;
        background-color: white;
        display: block;
        position: absolute;
        bottom: 10px;
        content: "";
    }
    .toogle-bars::after{
        width: 25px;
        height: 2px;
        background-color: white;
        display: block;
        position: absolute;
        top: 10px;
        content: "";
    }

    .social-icons{
        display: none;
    }

    /* Appare side bar */
    #toogle-bar-input:checked ~ #topbar{
        display: flex;
    }

    /* Scompare barra centrale toogle */
    #toogle-bar-input:checked ~ .bars-container .toogle-bars{
        background-color: transparent;
    }
    
    /* Si trasforma il toogle in croce */
    #toogle-bar-input:checked ~ .bars-container .toogle-bars::after{
        transform: rotate(45deg);
        top: 0;
    }
    #toogle-bar-input:checked ~ .bars-container .toogle-bars::before{
        transform: rotate(-45deg);
        top: 0;
    }


}




/* CHI SONO */

.chisono{
    width: 80%;
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    background-color: rgba(61, 61, 61, 0.733);
    border-radius: 8px;
    backdrop-filter: blur(2px);
    text-align: justify;
}

.chisono img{
    width: 40%;
    margin-right: 10px;
    float: left;
}

/* .chisono::after{
    content: "";
    display: table;
    clear: both;
} */




/* CONTATTI */

.contacts{
    width: 80%;
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    background-color: rgba(61, 61, 61, 0.733);
    border-radius: 8px;
    backdrop-filter: blur(2px);
    text-align: center;
}


#email-info{
    margin: 25px 0 0;
}

#cell-info{
    margin: 100px 0 0px;
}

#social-info{
    margin: 100px 0 0;
}

.cell-container, .email-container, .social-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts h2{
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 500;
}

.contacts h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.contacts .bottom-description{
    font-size: 12px;
    margin-top: 30px;
    font-weight: 100;
}

.icon-description{
    margin-left: 10px;
}

@media  screen and (max-width: 500px) {
    .contacts input{
        width: 100%;
    }
}